{% extends "base.html" %}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div class="row">
                <h1 id="name" class="display-2" style="text-align: center; margin-top: 0.9rem;">About</h1>
            </div>
            <div class="row">
                <h2 style="text-align:center; color: white; margin-top: 2rem; ">Hey! I'm Andrew, a sophomore at Rice University studying computer science.</h2>
            </div>
            <div class="row">
                <p style="text-align:center; color: grey;  margin-top: 2rem;">I got my start with computers by learning Python back in middle school.</p>
            </div>
            <div class="row">
                <p style="text-align:center; color: grey; ">In high school, I got really into algorithms, data structures, and math, leading me to competitive programming with C++.</p>
            </div>
            <div class="row">
                <p style="text-align:center; color: grey;">Over time, my experience has grown to include machine learning, web development, and usability testing.</p>
            </div>
            <div class="row">
                <p style="text-align:center; color: grey;">Aside from school and work, I row competitively with Rice Crew and play the guitar and piano.</p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    
</div>

{% endblock content %}